/* 
    Document   : customSumo
    Created on : 23.01.2013, 10:28:21
    Author     : stefan.eisenkolb
    Description:
        Purpose of the stylesheet follows.
*/

/** Custom application styling ******************/

.container {
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px#888;
    box-shadow: 0 0 3px 3px #888;
    margin-top: 20px;
    padding: 30px 25px;
}

#images_editor { list-style-type: none; margin: 0; padding: 0; width: 550px; }
#images_editor li { margin: 3px 3px 3px 3px; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; position: relative;}
 html>body #images_editor li { height: 1.5em; line-height: 1.2em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.btn_delete {
        z-index: 6;
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	font-family:arial;
	font-size:11px;
        line-height: 12px;
	font-weight:bold;
	padding:4px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
        color:white;
        position: absolute;
        top:-4px;
        left:45px;
        width: 60px;
        height: 20px;
}.btn_delete:hover {
        color:#ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.btn_delete:active {
        color:#ffffff;
	position:relative;
	top:1px;
}
.btn_delete a {
    color:#ffffff;
}
.salter {
    background-image: url(images/Salter.png);
    background-repeat:no-repeat;
    background-position:0px 5px;
    padding-left: 40px;
    margin-bottom: 20px;
    line-height: 41px;
}
.recipeTitle {
    font-size: 25px;
    font-weight: bold;
    color:#7da4d9;
}
.recipeTitle_Input {
    margin-top: 10px;
    font-size: 25px !important; 
    font-weight: bold !important; 
    color:#7da4d9 !important; 
    height:33px !important; 
}
.edit_trigger {
    display: inline;
    float: right;
}
.editable {
    width: 90%;
    display: inline;
}
.jeditTextarea {
    width:700px;
    padding: 0;
    display: inline;
}
.jeditTextarea textarea{
    font-size: inherit;
    display: inherit;
    color: inherit;
    width: 100%;
}
.jeditTextarea button{
    display: block;
}
#ingredients {
    min-height: 100px;
    padding: 10px;
}
#severity {
    width: 300px;
}
#additionalInfo {
    
}
.additional_widget {
    display: inline-block;
    margin-right: 100px;
    padding: 5px 10px 5px 10px;
    line-height: 40px;
}
#recipe_part1 {
    margin-top: 20px;
}
#recipe_part2 {
    margin-top: 20px;
}
#recipe_main_pic {
    width: 520px;
    height: 320px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 3px 3px #999999;
    -webkit-box-shadow: 0 0 3px 3px #999999;
    box-shadow: 0 0 3px 3px #999999;
    font-weight: bold;
    color: #999999;
    font-size: 35px;
    text-align: center;
    vertical-align:central;
    line-height: 320px;
}
#recipe_main_pic img {
    margin: 10px;
}
#recipe_ratings {
    /*border: 1px solid black;*/
}
#recipe_text_ratings {
    text-align: center;
}
h3 {
    border-bottom: 1px dashed #999999;
}
.clearBottomBorder {
    border-bottom: none;
}
#RecipeIngredients_edit {
    display: block;
    min-height: 100px;
    min-width: 98%;
}
.wys-container {
    position: relative;
}
#wysihtml5-toolbar-Ingredients {
    margin-bottom: 0px;
}
#RecipeAddForm input, textArea {
    width: 95%;
    min-width: 500px;
}

#RecipeAddForm label {
    
}
.clear {
    clear: both;
}

.star-rating{
    list-style: none;
    margin: 3px;
    padding: 0px; 
    width: 200px; 
    height: 30px; 
    position: relative;
    background: url(images/sumo_rating.gif) top left repeat-x;
}

star-rating li{
    padding:0px;
    margin:0px;
    /**/ 
    float: left; – for any other browser, we are going to float left, this makes a horizontal list
    /* */
}

.star-rating li a{
    display:block; 
    width:40px; 
    height: 30px; 
    text-decoration: none; 
    text-indent: -9000px; 
    z-index: 20; 
    position: absolute; 
    padding: 0px; 
    background-image:none;
}

 .star-rating li.current-rating{
    background: url(images/sumo_rating.gif) left bottom;
    position: absolute;
    height: 30px;
    display: block;
    text-indent: -9000px;
    z-index: 1;
 }

.star-rating li a:hover {
   background: url(images/sumo_rating.gif) left bottom;
    z-index: 1; 
    left: 0px; 
}

.star-rating a.one-star{
    left: 0px;
}
.star-rating a.one-star:hover{
    width:40px;
}
.star-rating a.two-stars{
    left:40px;
}
.star-rating a.two-stars:hover{
    width: 80px;
}
.star-rating a.three-stars{
    left: 80px;
}
.star-rating a.three-stars:hover{
    width: 120px;
}
.star-rating a.four-stars{
    left: 120px;
}
.star-rating a.four-stars:hover{
    width: 160px;
}
.star-rating a.five-stars{
    left: 160px;
}
.star-rating a.five-stars:hover{
    width: 200px;
}
.brand {
}
#recipe_star_ratings {
    margin-top: 30px;
    margin-left: 50px;
}
#RecipeDescription_edit {
    display: block;
    min-height: 200px;
    width: 98%;
}
#CategoryName_edit {
    width: 20px;
}
#picUpload {
    padding:10px;
    margin-bottom: 20px;
}